<div class='d-flex'>
    {{#if false}}
    <div class="m-1">
        {{#bs-button type="success" onClick=(action 'openAddAnnotModal')}}
        {{svg-jar "plus" class="octicon"}}Add annotation
        {{/bs-button}}
    </div>
    {{/if}}
    {{file-upload
            class="m-1"
            modalId="annot-file-upload-modal"
            title="Import annotation file"
            routeLabel=uploadAnnotRouteLabel
            dataLabel=frag-annotation.dataLabel
            formatSelect=model.annotationFileFormats}}
    {{!-- {{#bs-button class="btn m-1" type="primary" onClick=(action 'getFile' 'annotations' 'annotations.csv')}}
    {{svg-jar "cloud-download" class="octicon"}} Annotations
    {{/bs-button}} --}}
</div>