<div class="row">

  {{#items-list
    class="col-lg-10" 
    title="Features Annotations"
    modelLabel="frag-annotation" 
    model=model 
    newItem=(route-action 'newItem')}}
  {{#each model as |annotation|}}
  {{annotations-list-item 
                item=annotation 
                updatedItemIds=updatedItemIds 
                triggerSelected=triggerSelected 
                hasChanges=hasChanges
                projectView=projectView}}
  {{/each}}
  {{/items-list}}

  {{#items-index-menu class="col-lg-2"}}
  {{annotations-index-menu 
      status=status 
      selected=selected
      TriggerUpdateFilter=TriggerUpdateFilter
      updatedItemIds=updatedItemIds
      projectView=projectView}}
  {{/items-index-menu}}

</div>