{{getCanvasIdIndex}}
<canvas
  class="ChemDoodleWebComponent molecule"
  id="{{canvasId}}" width="200" height="200"
  alt="ChemDoodle Web Component"
  style="background-color: rgb(255, 255, 255);">
    This browser does not support HTML5/Canvas.
</canvas>
<div class="d-none">{{displayChemical}}</div>
