<!-- frag-compare-conf-field -->

<form class="form-inline">
    <label class="mb-2 mr-sm-2">{{label}}</label>
    {{input type="number" step=step value=value class='form-control mb-2 mr-sm-2' disabled=disabled}}
</form>
