{{#if (not-eq spinnerStatus 'stop')}}
  <div class="container graph-loader">
    <div class="row align-items-center">
      <div class="col">
        {{#if (eq spinnerStatus 'waiting')}}
          {{bs-button type="primary"
            defaultText="Load network"

            onClick=loadNetwork }}
        {{else if (eq spinnerStatus 'loading') }}
          <div class="spinner-display">
            {{ember-spinner color=colors.primary}}
          </div>
          <div class="loading-text">
            loading network (could take several minutes) ...
          </div>
        {{/if}}
      </div>
    </div>
  </div>
{{/if}}
