<h5>Text</h5>
<label>
    {{input value=text class='form-control'}}
</label>
<h5>User</h5>
<div class="checkbox">
    <label>
        {{input type="checkbox" checked=my }} My reactions
    </label>
</div>
<label>
    {{input value=user class='form-control' disabled=my}}
</label>