<div class="row">

  {{#items-list
    class="col-lg-10" 
    title="Reactions"
    modelLabel="reaction" 
    model=model 
    newItem=(route-action 'newItem')}}
  {{#each model as |reaction|}}
  {{reaction-list-item 
                item=reaction 
                updatedItemIds=updatedItemIds 
                triggerSelected=triggerSelected 
                hasChanges=hasChanges
                projectView=projectView}}
  {{/each}}
  {{/items-list}}

  {{#items-index-menu class="col-lg-2"}}
  {{reaction-index-menu 
      status=status 
      text=text 
      my=my 
      user=user
      selected=selected
      TriggerUpdateFilter=TriggerUpdateFilter
      updatedItemIds=updatedItemIds
      projectView=projectView}}
  {{/items-index-menu}}

</div>
{{delete-modal title="Delete reaction" dataToDelete=dataToDelete dataLabel=model.dataLabel
updateDataController='updateDataController'}}