<div class="card">
    <div class="card-body">

        <h4>Filters</h4>
        <h5>Status</h5>
        <form>
            {{#each reactionStatus as |status| }}

            <div class="checkbox">
                <label>
                    {{input type="checkbox" checked=status.checked }} {{status.libelle}}
                    {{!-- <input type="checkbox">  --}}
                </label>
            </div>
            {{/each}}
        </form>
        {{#bs-button type="primary" onClick=(action 'updateFilter')}}Apply{{/bs-button}}
    </div>
</div>