<div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3">
        {{#each model as |reaction|}}
        {{reaction-list-item 
                reaction=reaction 
                updatedReactionIds=updatedReactionIds 
                triggerSelected=triggerSelected 
                hasChanges=hasChanges}}
        {{/each}}
    </div>
    {{pagination-handler data=model}}
</div>