<h5>
  Text
</h5>
<label>
  {{input value=params.text class="form-control"}}
</label>
<h5>
  User
</h5>
<div class="checkbox">
  <label>
    {{input type="checkbox" checked=params.my}}
    My reactions
  </label>
</div>
<label>
  {{input value=params.user class="form-control" disabled=params.my}}
</label>