{{#each tags as |tag index|~}}
<li class="emberTagInput-tag">
    {{tag}}
    {{#if isEditing}}
        <a class="emberTagInput-remove" {{action 'removeTagAtIndex' index}}></a>
    {{/if}}
</li>
{{~/each~}}
{{#if isEditing}}
    {{aupac-typeahead 
    action='addTag'
    class='form-control'
    source=existingTags
    placeholder='Add a tag'
    allowFreeInput=true
    transformSelection=removeSelection}}
{{/if}}