<!-- show -->
{{manageMetabolizationNetwork}}
{{nav-tabs navParams=navParams model=model navigateTo=(action 'navigateTo')}}

<div class="card card-tabs">
  <div class="card-body">
    {{outlet}}
  </div>
</div>
