#cy {
  width: 100%;
  height: 100%;
}

.tippy-popper {
  pointer-events: auto;
}

.tippy-tooltip.light-theme {
  color: black;
  border: solid 1px black;
  background-color: white;
}

.tippy-tooltip {
  padding: 8px;
  overflow-x: auto;
}

.molecule canvas.ChemDoodleWebComponent {
  border: 0;
}

// .smiles-display .value {
//   display: none;
// }
