@import "../base/colors";

.graph-content {
  width: 100%;
  height: 600px;
  // display: block;
  border: 1px solid black;
}

.graph-loader {
  text-align: center;
  height: 100%;
  width: 100%;
  .row, .col, .spinner-display  {
    height: 100%;
    }
  .col  {
    height: 100px;
    }
  .loading-text {
    color: $primary-color;
  }
}
