
<div class="d-flex">
    <h3  class="mr-auto"> Fragmentation sample info </h3>
    <div>
        {{#bs-button type="primary" onClick=(action 'save_fragsample')}}Save info{{/bs-button}}
    </div>
</div>
<p><b>File Name :</b> {{model.file_name}}</p>
<p><b>Number of ions in sample :</b> {{model.ions_count}}</p>
<form>
    <div class="form-group">
        <label>Name</label>
        {{input value=model.name model=model class='form-control'}}
    </div>
    <div class="form-group">
        <label>Description</label>
        {{textarea value=model.description model=model class='form-control' rows='3'}}

    </div>
</form>
