<h1 class="text-center">Welcome to MetWork </h1>
<h2 class="text-center"><i>a web server for natural products anticipation</i></h2>

<div class="d-flex justify-content-center m-3">
    {{bs-button type="primary"
        defaultText="Download all molecules generated"
        onClick=(action 'getFile' 'download_all_molecules' 'metwork_all_molecules.csv') }}
</div>

  <div id="news">
    <h3>News</h3>

    <h5>10th August 2018</h5>
  	  The new version of the beta is on-line!
      <br />
      Those new features have been introduced :
      <ul>
        <li> Improvement of cosine score calculation with Metgem algorithm ( https://github.com/metgem/metgem ) </li>

        <li> Availability to directly import GNPS .tsv annotation files </li>

        <li> Clone achieved project </li>

        <li> Download all molecules generated </li>

        <li> New design to select reactions and ion annotations on a project </li>

        <li>  Speed improvement to import fragmentation data </li>
    </ul>
  	<h5>1st August 2018</h5>
  	  The code of of MetWork is available on GitHub :
  	  <a href="https://github.com/YannBeauxis/metwork" target="_blank"> https://github.com/YannBeauxis/metwork </a>

		<h5>25th July 2018</h5>
		  The beta version of MetWork is live now!<br />
		  You can now register by clicking below or test the service as a guest user.
  </div>

<h5>23th May 2018</h5>
The MetWork project has been presented at the 11e JS du RFMF Liège 2018 in Belgium.
Two posters and a flash communication.

<p class="text-center"><i> click on poster image to download the .pdf </i></p>
<div class="container d-flex justify-content-center ">
  <div class="row d-flex justify-content-center ">
      <a
          href="https://metwork.pharmacie.parisdescartes.fr/publications/posters/Poster-Beauxis-Liege-2018.pdf"
          target="_blank">
       <img class="m-2 border" src="/assets/images/Poster-Beauxis-Liege-2018.png" alt="Poster-Beauxis-Liege-2018">
      </a>

      <a
          class="m-2 border"
          href="https://metwork.pharmacie.parisdescartes.fr/publications/posters/Poster-Aimond-Liege-2018.pdf"
          target="_blank">
       <img src="/assets/images/Poster-Aimond-Liege-2018.png" alt="Poster-Aimond-Liege-2018">
      </a>
  </div>
</div>
