<!-- Login -->
<div class="card login-form">

  <div class="card-body">
    <h3 class="card-title">Login</h3>

    {{#user-form
      formType='login'
      model=model
      signupComplete=signupComplete
      submitText='Login'
      authenticate=(action 'authenticate')}}

        {{bs-button type="secondary"
          defaultText="Reset password"
          onClick=(action 'resetPassword') }}

        {{bs-button
          type="submit"
          buttonType="submit"
          defaultText="Guest Login"
          onClick=(action "authenticateGuest")
          class="btn btn-warning"}}

    {{/user-form}}


    {{#if error }}
        <div class="alert alert-danger m-2" role="alert">
          {{error}}
        </div>
    {{/if}}
    {{#if success }}
        <div class="alert alert-success m-2" role="success">
          {{success}}
        </div>
    {{/if}}
  </div>

</div>
