<!-- Login -->
<div class="card login-form">

  <div class="card-body">
    <h3 class="card-title">Login</h3>

    {{#user-form
      formType='login'
      model=model
      error=error
      signupComplete=signupComplete
      submitText='Login'
      authenticate=(action 'authenticate')}}

        {{bs-button type="secondary"
          defaultText="Reset password"
          onClick=(action 'resetPassword') }}

    {{/user-form}}

    {{#if success }}
        <div class="alert alert-success m-2" role="success">
          {{success}}
        </div>
    {{/if}}

    <br />

    <h3 class="card-title">Guest login</h3>

    {{user-form
      formType='guestLogin'
      model=model
      error=guestError
      buttonColor="warning"
      submitText='Login as a guest'
      authenticateGuest=(action 'authenticateGuest')}}

    {{#if (not model.confirmLicense)}}
      <br />
      <p> Get a ChemAxon license on
        <a href="https://chemaxon.com/" target="_blank"> their website </a>
      </p>
    {{/if}}

  </div>

</div>
