<!-- register -->

<div class="card login-form">
  <div class="card-body">
    <h3 class="card-title">Register as new user</h3>

    {{#if signupComplete}}
        <div class="alert alert-success" role="alert">
          Account created, you can now {{#link-to 'login' class="alert-link"}}login{{/link-to}} to acces to your account.
        </div>
    {{else}}
      {{user-form
        formType='register'
        model=model
        signupComplete=signupComplete
        submitText='Create user'
        register=(action 'register')}}
    {{/if}}
  </div>
</div>
