<!-- register -->

<div class="card login-form">
  <div class="card-body">
    <h3 class="card-title">Register as new user</h3>

    {{#if signupComplete}}
        <div class="alert alert-success" role="alert">
          Account created, you can now {{#link-to 'login' class="alert-link"}}login{{/link-to}} to acces to your account.
        </div>
    {{else}}
      {{user-form
        formType='register'
        model=model
        signupComplete=signupComplete
        submitText='Create user'
        error=error
        register=(action 'register')}}
    {{/if}}

    {{#if (not model.confirmLicense)}}
      <br />
      <p> Get a ChemAxon license on
        <a href="https://chemaxon.com/" target="_blank"> their website </a>
      </p>
    {{/if}}
  </div>
</div>
